html {
    background-color: black;
}

body {
    color: white;
    display: block;
    /* text-align: center; */
}

.button {
    padding: 50px;
    color: black;
}

img {
    height: 300px;
    width: 300px;
}