html {
    background-image: url(stars.gif);
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}   

#ruleModalContainer {
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

#ruleModalText {
	background-color: rgba(0, 0, 0);
	border-radius: 2px;
	margin: 60px auto;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	max-width: 100%;
	overflow: auto;
	display: none;
	z-index: 1;
}

body {
    color: white;
    display: block;
    text-align: center;
}

.questionSection {
	display: none;
}

.button {
    padding: 50px;
    color: black;
}

img {
    height: 300px;
    width: 300px;
}