html {
    background-image: url(stars.gif);
    background-size: cover;
}   

#ruleModalContainer {
	background-color: grey;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
}

#ruleModalText {
	background-color: grey;
	height: 350px;
	width: 550;
	border-radius: 2px;
	margin: 150px auto;
	display: none;
}

body {
    color: white;
    display: block;
    text-align: center;
}

.questionSection {
	display: none;
}

.button {
    padding: 50px;
    color: black;
}

img {
    height: 300px;
    width: 300px;
}